<ion-app>
  <ion-split-pane contentId="menu-content" when="sm" style="--side-width: 100px">
    <ion-menu contentId="menu-content">
      <ion-header>
        <ion-toolbar>
          <ion-row class="user-details-wrapper" >
            <ion-col style="display: flex;align-items: center;justify-content: center;padding: 50px 0px;">
              <img style="height: 200px;border-radius: 10px; " [src]="'../assets/Profile_image.png'" />


            </ion-col>

          </ion-row>

        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list style="width:229px;margin: auto;max-height: 80%;">
          <ion-item routerLink="/home">
            <ion-icon slot="start" name="home" color="dark"></ion-icon>
            <ion-label> Home </ion-label>
          </ion-item>
          <ion-item routerLink="/about">
            <ion-icon name="information-circle-outline" slot="start" color="dark"></ion-icon>
            <ion-label>About</ion-label>
          </ion-item>

          <ion-item routerLink="/contact">
            <ion-icon slot="start" name="call" color="dark"></ion-icon>
            <ion-label>Contact</ion-label>
          </ion-item>

          <!-- <ng-container>
            <ng-container>
              <ion-item>

                <ion-label>

                </ion-label>
              </ion-item>
            </ng-container>
          </ng-container> -->

        </ion-list>
        <ion-footer class="ion-no-border">
          <ion-item color="white" lines="none">
            

          </ion-item>
        </ion-footer>
      </ion-content>
    </ion-menu>
    <!-- Main app content get's rendered in this router-outlet -->
    <ion-router-outlet id="menu-content" ></ion-router-outlet>

  </ion-split-pane>>
</ion-app>